/** Div parrent pour centrer le contenu **/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/** Div contenant le module de génération **/
.core-container{
  width: 832px;
}


/** Div contenant le mot de passe généré **/
.psw-container{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 8px;
  padding: 20px 15px;
  gap: 15px;
  align-items: center;
  box-sizing: border-box;
}

.psw-input {
  flex-grow: 1;
}

.psw-input input[type="text"]{
  width: -webkit-fill-available;
  border: none;
  font-size: 2.2rem;
  font-weight: bold;
  color: #ff7a7a;
  font-family: monospace;
  background-color: #ffffff;
}

.psw-input input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

.psw-btn-generate button, .psw-btn-copy button {
  cursor: pointer;
  padding: 8px 12px;
}

.psw-btn-generate button {
  background-color: transparent;
  border: none;
  color: #863984;
}

.psw-btn-copy button{
   background-color: #ff7a7a;
  border: 1px solid #ff7a7a;
  border-radius: 4px;
  font-size: 1.2rem;
}

.psw-btn-copy button:hover {
  background-color: #ffffff;
  border: 1px solid#000000;
}



/** Div contenant un slider pour indiqué la robustesse du mot de passe généré **/
.check-container{
  background-color: #a57e7e
}







/** Options du mot de passe **/
.options-container{
  background-color: #ff7a7a;
  width: fit-content;
  padding: 15;
  margin: auto;
}

.slider-container{
  display: inline-flex;
  gap: 10vh;
  align-items: center;
  width: -webkit-fill-available;
}

.slider-value {
  width: fit-content;
}

.slider-value p {
  width: max-content;
}

.slider-length {
  width: 100%;
}

.slider-length input[type="range"]{
  width: 100%
}

.checkbox-container {
  display: inline-flex;
  justify-content: center;
  gap: 4vh;
  align-items: center;
}

.list-checkbox{
  display: flex;
}

.list-checkbox .psw-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}